In [4]:
l_obs = read.csv(url('https://docs.google.com/spreadsheets/d/e/2PACX-1vSuB4_zbvOSCheA6Z_Ggv88SVsTS2pARulQpguBPfNrbs6M6P0boErD9dJZ8_COf0URnJvyl3FqbdnS/pub?gid=314843316&single=true&output=csv'))

In [6]:
head(l_obs)

  age educ black hisp married nodegr re74 re75 re78     u74 u75 treat
1 37  11   1     0    1       1      0    0     9930.05 1   1   1
2 22   9   0     1    0       1      0    0     3595.89 1   1   1
3 30  12   1     0    0       0      0    0    24909.50 1   1   1
4 27  11   1     0    0       1      0    0     7506.15 1   1   1
5 33   8   1     0    0       1      0    0      289.79 1   1   1
6 22   9   1     0    0       1      0    0     4056.49 1   1   1

In [7]:
lm(re78~.,data=l_obs)

Call:
lm(formula = re78 ~ ., data = l_obs)

Coefficients:
(Intercept)          age         educ        black         hisp      married
  5778.7075     -94.4593     174.5181    -809.7609    -230.3339     153.4220
     nodegr         re74         re75          u74          u75        treat
   341.0801       0.2913       0.4414     351.5199   -1620.8837    1066.3779

In [9]:
lm(re78~age+treat,data=l_obs)

Call:
lm(formula = re78 ~ age + treat, data = l_obs)

Coefficients:
(Intercept)          age        treat
    10375.7        134.6      -7500.5

In [10]:
lm(re78~age+treat+educ,data=l_obs)

Call:
lm(formula = re78 ~ age + treat + educ, data = l_obs)

Coefficients:
(Intercept)          age        treat         educ
     3455.9        152.1      -6484.6        526.9

In [15]:
lm(re78~treat+married,data=l_obs)

Call:
lm(formula = re78 ~ treat + married, data = l_obs)

Coefficients:
(Intercept)        treat      married
      11056        -5714         5326

In [17]:
lm(re78~treat+re74,data=l_obs)

Call:
lm(formula = re78 ~ treat + re74, data = l_obs)

Coefficients:
(Intercept)        treat         re74
   5834.262     -832.510        0.643

In [18]:
lm(re78~treat+u75,data=l_obs)

Call:
lm(formula = re78 ~ treat + u75, data = l_obs)

Coefficients:
(Intercept)        treat          u75
      16147        -2662       -11893