In [2]:
l_obs = read.csv(url('https://docs.google.com/spreadsheets/d/e/2PACX-1vSuB4_zbvOSCheA6Z_Ggv88SVsTS2pARulQpguBPfNrbs6M6P0boErD9dJZ8_COf0URnJvyl3FqbdnS/pub?gid=314843316&single=true&output=csv'))

In [6]:
head(l_obs)

  age educ black hisp married nodegr re74 re75 re78     u74 u75 treat
1 37  11   1     0    1       1      0    0     9930.05 1   1   1
2 22   9   0     1    0       1      0    0     3595.89 1   1   1
3 30  12   1     0    0       0      0    0    24909.50 1   1   1
4 27  11   1     0    0       1      0    0     7506.15 1   1   1
5 33   8   1     0    0       1      0    0      289.79 1   1   1
6 22   9   1     0    0       1      0    0     4056.49 1   1   1

In [3]:
summary(lm(re78~.,data=l_obs))

Call:
lm(formula = re78 ~ ., data = l_obs)

Residuals:
   Min     1Q Median     3Q    Max
-25010  -3521   1283   3772  53738

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  5.779e+03  4.452e+02  12.979  < 2e-16 ***
age         -9.446e+01  5.995e+00 -15.755  < 2e-16 ***
educ         1.745e+02  2.867e+01   6.086 1.18e-09 ***
black       -8.098e+02  2.127e+02  -3.808 0.000141 ***
hisp        -2.303e+02  2.184e+02  -1.054 0.291672
married      1.534e+02  1.427e+02   1.075 0.282184
nodegr       3.411e+02  1.777e+02   1.919 0.054993 .
re74         2.913e-01  1.274e-02  22.869  < 2e-16 ***
re75         4.414e-01  1.286e-02  34.323  < 2e-16 ***
u74          3.515e+02  2.315e+02   1.519 0.128845
u75         -1.621e+03  2.396e+02  -6.766 1.37e-11 ***
treat        1.066e+03  5.536e+02   1.926 0.054092 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 6993 on 16165 degrees of freedom
Multiple R-squared:  0.4774,	Adjusted R-squared:  0.4771
F-statistic:  1343 on 11 and 16165 DF,  p-value: < 2.2e-16

In [9]:
lm(re78~age+treat,data=l_obs)

Call:
lm(formula = re78 ~ age + treat, data = l_obs)

Coefficients:
(Intercept)          age        treat
    10375.7        134.6      -7500.5

In [10]:
lm(re78~age+treat+educ,data=l_obs)

Call:
lm(formula = re78 ~ age + treat + educ, data = l_obs)

Coefficients:
(Intercept)          age        treat         educ
     3455.9        152.1      -6484.6        526.9

In [15]:
lm(re78~treat+married,data=l_obs)

Call:
lm(formula = re78 ~ treat + married, data = l_obs)

Coefficients:
(Intercept)        treat      married
      11056        -5714         5326

In [17]:
lm(re78~treat+re74,data=l_obs)

Call:
lm(formula = re78 ~ treat + re74, data = l_obs)

Coefficients:
(Intercept)        treat         re74
   5834.262     -832.510        0.643

In [18]:
lm(re78~treat+u75,data=l_obs)

Call:
lm(formula = re78 ~ treat + u75, data = l_obs)

Coefficients:
(Intercept)        treat          u75
      16147        -2662       -11893

In [1]:
dim(l_obs)

ERROR: Error in eval(expr, envir, enclos): object 'l_obs' not found