In [1]:
library(foreign)

In [34]:
data = read.dta('http://www.nber.org/~rdehejia/data/nsw.dta')
data$data_id = NULL
head(data)

  treat age education black hispanic married nodegree re75 re78
1 1     37  11        1     0        1       1        0     9930.0459
2 1     22   9        0     1        0       1        0     3595.8940
3 1     30  12        1     0        0       0        0    24909.4492
4 1     27  11        1     0        0       1        0     7506.1460
5 1     33   8        1     0        0       1        0      289.7899
6 1     22   9        1     0        0       1        0     4056.4939

In [45]:
# bootstrap 95% confint
B = 1000
n = nrow(data)

storage_vector =rep(NA, B) 


for(b in 1:B){
    b_ind = sample(x = 1:n, size = n, replace = TRUE)
    sample = data[b_ind,]
    storage_vector[b] = summary(lm(re78 ~. ,data=sample))$coef[2]
}

In [46]:
b_CI = quantile(storage_vector,probs=c(0.05,0.95))
b_CI

        5%        95%
  78.79338 1632.86143

In [40]:
lm1 = lm(re78 ~. ,data=data)

confint(lm1)

            2.5 %         97.5 %
(Intercept) -1.233670e+03 8992.8782962
treat       -1.120897e+02 1725.1122785
age         -5.365441e+01   88.4394026
education   -1.772477e+02  527.8939486
black       -3.019028e+03  127.9458134
hispanic    -1.955396e+03 2152.2403581
married     -1.208727e+03 1352.4565484
nodegree    -1.928986e+03  988.1919035
re75         7.879141e-02    0.2621504

In [ ]:
statistical power, statistical significance, alpha, and bet