# TiVo

### Focus
TiVo value propositon and how to measure it

### Qs
- does the study evaluate consumer attitudes well?
- what are strengths/ weaknesses of the present approach?
- would you do anything diff in the market research project? what would you have done and what would you expect to find?
- why segment in the first place? best way?
- how do diff kinds of research relate?

In [2]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import json
from pandas.io.json import json_normalize
from datetime import datetime
from sklearn import preprocessing

In [3]:
# import and check data
df = pd.read_csv("TiVoData.csv")
dfE = pd.read_csv("TiVoData.csv")
dfE.dtypes

ID                                       float64
Gender                                    object
Marital Status                            object
Work Status                               object
Education                                 object
Annual Income (x1000 $)                  float64
Age                                      float64
Location                                  object
Purchasing Decision-maker                 object
Purchasing Location                       object
Monthly Electronics Spend                float64
Monthly Household Spend                  float64
Purchasing Frequency (every x months)    float64
Technology Adoption                       object
TV Viewing (hours/day)                   float64
Favorite feature                          object
dtype: object

In [4]:
# convert string factors to type: category

dfE["Gender"] = dfE["Gender"].astype("category")
dfE["Marital Status"] = dfE["Marital Status"].astype("category")
dfE["Work Status"] = dfE["Work Status"].astype("category")
dfE["Education"] = dfE["Education"].astype("category")
dfE["Location"] = dfE["Location"].astype("category")
dfE["Purchasing Decision-maker"] = dfE["Purchasing Decision-maker"].astype("category")
dfE["Purchasing Location"] = dfE["Purchasing Location"].astype("category")
dfE["Technology Adoption"] = dfE["Technology Adoption"].astype("category")
dfE["Favorite feature"] = dfE["Favorite feature"].astype("category")
dfE.dtypes

ID                                        float64
Gender                                   category
Marital Status                           category
Work Status                              category
Education                                category
Annual Income (x1000 $)                   float64
Age                                       float64
Location                                 category
Purchasing Decision-maker                category
Purchasing Location                      category
Monthly Electronics Spend                 float64
Monthly Household Spend                   float64
Purchasing Frequency (every x months)     float64
Technology Adoption                      category
TV Viewing (hours/day)                    float64
Favorite feature                         category
dtype: object

In [5]:
# encode qualitative factors

dfE["Gender"] = dfE["Gender"].cat.codes
dfE["Marital Status"] = dfE["Marital Status"].cat.codes
dfE["Work Status"] = dfE["Work Status"].cat.codes
dfE["Education"] = dfE["Education"].cat.codes
dfE["Location"] = dfE["Location"].cat.codes
dfE["Purchasing Decision-maker"] = dfE["Purchasing Decision-maker"].cat.codes
dfE["Purchasing Location"] = dfE["Purchasing Location"].cat.codes
dfE["Technology Adoption"] = dfE["Technology Adoption"].cat.codes
dfE["Favorite feature"] = dfE["Favorite feature"].cat.codes
dfE.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature
0,1.0,1,0,1,3,49.0,30.0,8,0,1,35.0,150.0,13.0,1,2.0,2
1,2.0,1,1,0,3,46.0,36.0,0,1,1,35.0,163.0,26.0,1,10.0,2
2,3.0,1,0,1,0,58.0,66.0,20,0,3,64.0,103.0,13.0,0,0.0,4
3,4.0,1,0,0,2,51.0,78.0,31,0,1,33.0,154.0,22.0,1,5.0,2
4,5.0,0,1,0,3,46.0,52.0,25,1,1,45.0,161.0,47.0,1,2.0,2

In [6]:
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature
0,1.0,male,married,professional,none,49.0,30.0,Florida,family,mass-consumer electronics,35.0,150.0,13.0,late,2.0,saving favorite shows to watch as a family
1,2.0,male,single,none,none,46.0,36.0,Alabama,single,mass-consumer electronics,35.0,163.0,26.0,late,10.0,saving favorite shows to watch as a family
2,3.0,male,married,professional,BA,58.0,66.0,Massachusetts,family,specialty stores,64.0,103.0,13.0,early,0.0,time shifting
3,4.0,male,married,none,PhD,51.0,78.0,New York,family,mass-consumer electronics,33.0,154.0,22.0,late,5.0,saving favorite shows to watch as a family
4,5.0,female,single,none,none,46.0,52.0,Montana,single,mass-consumer electronics,45.0,161.0,47.0,late,2.0,saving favorite shows to watch as a family

In [7]:
df['Annual Spending on Electronics'] = df['Monthly Electronics Spend'] * 12
df['Spending as % of Income'] = round(df['Annual Spending on Electronics'] / (df['Annual Income (x1000 $)']*1000),4)
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual Spending on Electronics,Spending as % of Income
0,1.0,male,married,professional,none,49.0,30.0,Florida,family,mass-consumer electronics,35.0,150.0,13.0,late,2.0,saving favorite shows to watch as a family,420.0,0.0086
1,2.0,male,single,none,none,46.0,36.0,Alabama,single,mass-consumer electronics,35.0,163.0,26.0,late,10.0,saving favorite shows to watch as a family,420.0,0.0091
2,3.0,male,married,professional,BA,58.0,66.0,Massachusetts,family,specialty stores,64.0,103.0,13.0,early,0.0,time shifting,768.0,0.0132
3,4.0,male,married,none,PhD,51.0,78.0,New York,family,mass-consumer electronics,33.0,154.0,22.0,late,5.0,saving favorite shows to watch as a family,396.0,0.0078
4,5.0,female,single,none,none,46.0,52.0,Montana,single,mass-consumer electronics,45.0,161.0,47.0,late,2.0,saving favorite shows to watch as a family,540.0,0.0117

In [8]:
for column in df:
    print("%s for ", column)
    print(df[column].value_counts()/df[column].count())

%s for  ID
981.0    0.001
692.0    0.001
885.0    0.001
780.0    0.001
441.0    0.001
772.0    0.001
748.0    0.001
347.0    0.001
740.0    0.001
819.0    0.001
732.0    0.001
714.0    0.001
724.0    0.001
700.0    0.001
327.0    0.001
689.0    0.001
588.0    0.001
684.0    0.001
497.0    0.001
676.0    0.001
652.0    0.001
463.0    0.001
644.0    0.001
751.0    0.001
636.0    0.001
437.0    0.001
628.0    0.001
604.0    0.001
287.0    0.001
596.0    0.001
         ...
936.0    0.001
836.0    0.001
904.0    0.001
888.0    0.001
856.0    0.001
840.0    0.001
808.0    0.001
792.0    0.001
760.0    0.001
744.0    0.001
712.0    0.001
988.0    0.001
696.0    0.001
664.0    0.001
964.0    0.001
648.0    0.001
616.0    0.001
924.0    0.001
600.0    0.001
568.0    0.001
892.0    0.001
552.0    0.001
520.0    0.001
868.0    0.001
508.0    0.001
492.0    0.001
844.0    0.001
484.0    0.001
468.0    0.001
1.0      0.001
Name: ID, Length: 1000, dtype: float64
%s for  Gender
male      0.535
female    0.465
Name: Gender, dtype: float64
%s for  Marital Status
married    0.72
single     0.28
Name: Marital Status, dtype: float64
%s for  Work Status
professional    0.65
none            0.35
Name: Work Status, dtype: float64
%s for  Education
none    0.506
BA      0.260
MA      0.124
PhD     0.110
Name: Education, dtype: float64
%s for  Annual Income (x1000 $)
30.0     0.079840
28.0     0.074850
29.0     0.072854
31.0     0.065868
32.0     0.061876
27.0     0.054890
26.0     0.046906
33.0     0.045908
34.0     0.037924
49.0     0.036926
54.0     0.028942
55.0     0.028942
46.0     0.027944
35.0     0.025948
48.0     0.025948
51.0     0.024950
52.0     0.021956
47.0     0.021956
45.0     0.021956
56.0     0.020958
53.0     0.019960
50.0     0.018962
24.0     0.017964
25.0     0.015968
36.0     0.013972
58.0     0.012974
44.0     0.010978
60.0     0.008982
57.0     0.008982
59.0     0.005988
37.0     0.004990
42.0     0.003992
43.0     0.003992
23.0     0.003992
61.0     0.002994
64.0     0.001996
21.0     0.001996
62.0     0.001996
39.0     0.001996
63.0     0.001996
22.0     0.001996
41.0     0.001996
730.0    0.001996
640.0    0.000998
40.0     0.000998
Name: Annual Income (x1000 $), dtype: float64
%s for  Age
67.0    0.026946
25.0    0.024950
26.0    0.024950
22.0    0.021956
48.0    0.021956
30.0    0.020958
80.0    0.020958
76.0    0.020958
23.0    0.019960
51.0    0.019960
33.0    0.019960
50.0    0.018962
64.0    0.018962
60.0    0.018962
69.0    0.018962
28.0    0.018962
58.0    0.018962
61.0    0.018962
52.0    0.018962
29.0    0.017964
56.0    0.017964
54.0    0.017964
63.0    0.017964
27.0    0.017964
55.0    0.017964
36.0    0.016966
72.0    0.016966
44.0    0.016966
32.0    0.016966
75.0    0.016966
          ...
47.0    0.015968
20.0    0.014970
65.0    0.014970
38.0    0.014970
42.0    0.014970
31.0    0.013972
59.0    0.013972
35.0    0.013972
49.0    0.013972
57.0    0.012974
39.0    0.012974
66.0    0.012974
41.0    0.012974
62.0    0.012974
34.0    0.012974
53.0    0.012974
43.0    0.012974
70.0    0.011976
21.0    0.011976
45.0    0.011976
74.0    0.011976
79.0    0.010978
78.0    0.010978
77.0    0.009980
68.0    0.009980
19.0    0.008982
73.0    0.008982
46.0    0.007984
18.0    0.006986
71.0    0.005988
Name: Age, Length: 63, dtype: float64
%s for  Location
Pennsylvania      0.050
Hawaii            0.045
Delaware          0.045
Arizona           0.043
Vermont           0.043
Washington        0.043
Idaho             0.043
California        0.041
Maine             0.041
New York          0.039
Colorado          0.039
Maryland          0.039
Massachusetts     0.038
Nevada            0.037
Connecticut       0.037
New Jersey        0.035
Florida           0.035
New Hampshire     0.035
Illinois          0.034
Tennessee         0.032
Georgia           0.027
Rhode Island      0.027
North Dakota      0.010
Oregon            0.010
Utah              0.009
Missouri          0.008
West Virginia     0.008
North Carolina    0.008
Montana           0.007
Texas             0.007
Kentucky          0.006
Kansas            0.006
South Carolina    0.006
Michigan          0.006
Alabama           0.006
Indiana           0.006
Louisiana         0.005
New Mexico        0.005
Alaska            0.005
Arkansas          0.004
Virginia          0.004
South Dakota      0.004
Wisconsin         0.004
Wyoming           0.004
Ohio              0.003
Iowa              0.003
Oklahoma          0.003
Mississippi       0.002
Minnesota         0.002
Nebraska          0.001
Name: Location, dtype: float64
%s for  Purchasing Decision-maker
family    0.56
single    0.44
Name: Purchasing Decision-maker, dtype: float64
%s for  Purchasing Location
retail                       0.294
discount                     0.293
mass-consumer electronics    0.200
specialty stores             0.170
web (ebay)                   0.043
Name: Purchasing Location, dtype: float64
%s for  Monthly Electronics Spend
18.0    0.066
19.0    0.058
16.0    0.057
15.0    0.055
17.0    0.055
14.0    0.044
20.0    0.041
35.0    0.034
13.0    0.029
34.0    0.027
36.0    0.026
21.0    0.025
32.0    0.021
12.0    0.021
43.0    0.020
47.0    0.018
44.0    0.018
45.0    0.017
40.0    0.017
33.0    0.017
39.0    0.016
22.0    0.015
38.0    0.015
31.0    0.015
37.0    0.015
60.0    0.013
46.0    0.012
42.0    0.012
41.0    0.011
51.0    0.010
        ...
24.0    0.005
57.0    0.005
62.0    0.004
58.0    0.004
72.0    0.004
26.0    0.004
64.0    0.004
69.0    0.004
75.0    0.003
59.0    0.003
66.0    0.003
77.0    0.002
9.0     0.002
84.0    0.002
83.0    0.002
76.0    0.002
53.0    0.002
73.0    0.002
85.0    0.002
80.0    0.002
74.0    0.002
25.0    0.002
7.0     0.001
81.0    0.001
79.0    0.001
63.0    0.001
88.0    0.001
78.0    0.001
82.0    0.001
70.0    0.001
Name: Monthly Electronics Spend, Length: 77, dtype: float64
%s for  Monthly Household Spend
55.0     0.018
45.0     0.017
53.0     0.016
63.0     0.014
58.0     0.014
46.0     0.014
44.0     0.013
60.0     0.013
47.0     0.013
73.0     0.013
56.0     0.012
31.0     0.012
61.0     0.011
54.0     0.011
76.0     0.010
29.0     0.010
69.0     0.010
74.0     0.010
66.0     0.010
43.0     0.010
26.0     0.010
39.0     0.010
75.0     0.010
32.0     0.010
28.0     0.010
85.0     0.010
59.0     0.009
30.0     0.009
37.0     0.009
72.0     0.009
         ...
164.0    0.001
13.0     0.001
308.0    0.001
186.0    0.001
115.0    0.001
312.0    0.001
121.0    0.001
127.0    0.001
176.0    0.001
232.0    0.001
192.0    0.001
107.0    0.001
260.0    0.001
244.0    0.001
218.0    0.001
100.0    0.001
196.0    0.001
19.0     0.001
234.0    0.001
15.0     0.001
160.0    0.001
226.0    0.001
148.0    0.001
10.0     0.001
152.0    0.001
120.0    0.001
332.0    0.001
14.0     0.001
224.0    0.001
276.0    0.001
Name: Monthly Household Spend, Length: 241, dtype: float64
%s for  Purchasing Frequency (every x months)
5.0     0.028
15.0    0.028
10.0    0.028
12.0    0.028
41.0    0.027
9.0     0.027
3.0     0.027
14.0    0.027
11.0    0.027
4.0     0.026
17.0    0.026
2.0     0.026
21.0    0.025
8.0     0.024
46.0    0.024
7.0     0.023
37.0    0.022
43.0    0.022
19.0    0.021
13.0    0.021
40.0    0.021
33.0    0.021
31.0    0.020
34.0    0.020
36.0    0.020
25.0    0.020
27.0    0.020
16.0    0.020
23.0    0.019
26.0    0.019
47.0    0.019
29.0    0.019
24.0    0.019
20.0    0.018
45.0    0.018
30.0    0.018
35.0    0.018
39.0    0.018
32.0    0.017
22.0    0.017
6.0     0.016
1.0     0.016
18.0    0.015
44.0    0.015
38.0    0.015
42.0    0.014
28.0    0.011
48.0    0.010
Name: Purchasing Frequency (every x months), dtype: float64
%s for  Technology Adoption
early    0.8
late     0.2
Name: Technology Adoption, dtype: float64
%s for  TV Viewing (hours/day)
1.0     0.362
2.0     0.232
0.0     0.175
4.0     0.045
5.0     0.044
3.0     0.032
6.0     0.022
11.0    0.020
10.0    0.015
13.0    0.014
8.0     0.010
9.0     0.009
7.0     0.009
12.0    0.007
14.0    0.004
Name: TV Viewing (hours/day), dtype: float64
%s for  Favorite feature
cool gadget                                   0.228
time shifting                                 0.221
schedule control                              0.221
saving favorite shows to watch as a family    0.200
programming/interactive features              0.130
Name: Favorite feature, dtype: float64
%s for  Annual Spending on Electronics
216.0     0.066
228.0     0.058
192.0     0.057
204.0     0.055
180.0     0.055
168.0     0.044
240.0     0.041
420.0     0.034
156.0     0.029
408.0     0.027
432.0     0.026
252.0     0.025
384.0     0.021
144.0     0.021
516.0     0.020
528.0     0.018
564.0     0.018
540.0     0.017
480.0     0.017
396.0     0.017
468.0     0.016
264.0     0.015
456.0     0.015
444.0     0.015
372.0     0.015
720.0     0.013
504.0     0.012
552.0     0.012
492.0     0.011
612.0     0.010
          ...
732.0     0.005
684.0     0.005
744.0     0.004
312.0     0.004
828.0     0.004
696.0     0.004
864.0     0.004
768.0     0.004
792.0     0.003
708.0     0.003
900.0     0.003
888.0     0.002
876.0     0.002
996.0     0.002
924.0     0.002
1008.0    0.002
912.0     0.002
108.0     0.002
636.0     0.002
300.0     0.002
1020.0    0.002
960.0     0.002
756.0     0.001
840.0     0.001
948.0     0.001
84.0      0.001
1056.0    0.001
936.0     0.001
984.0     0.001
972.0     0.001
Name: Annual Spending on Electronics, Length: 77, dtype: float64
%s for  Spending as % of Income
0.0060    0.031
0.0062    0.029
0.0058    0.024
0.0120    0.023
0.0074    0.022
0.0073    0.020
0.0064    0.017
0.0086    0.017
0.0069    0.016
0.0080    0.015
0.0087    0.015
0.0071    0.014
0.0115    0.014
0.0070    0.014
0.0081    0.014
0.0094    0.014
0.0051    0.013
0.0098    0.013
0.0088    0.013
0.0091    0.013
0.0076    0.013
0.0055    0.013
0.0065    0.012
0.0113    0.012
0.0068    0.012
0.0109    0.012
0.0084    0.011
0.0112    0.011
0.0110    0.011
0.0128    0.011
          ...
0.0139    0.002
0.0183    0.002
0.0106    0.002
0.0047    0.002
0.0179    0.002
0.0159    0.002
0.0057    0.002
0.0126    0.002
0.0162    0.001
0.0188    0.001
0.0175    0.001
0.0097    0.001
0.0170    0.001
0.0178    0.001
0.0164    0.001
0.0163    0.001
0.0173    0.001
0.0190    0.001
0.0196    0.001
0.0042    0.001
0.0168    0.001
0.0011    0.001
0.0040    0.001
0.0165    0.001
0.0194    0.001
0.0028    0.001
0.0177    0.001
0.0041    0.001
0.0063    0.001
0.0010    0.001
Name: Spending as % of Income, Length: 142, dtype: float64

In [9]:
# married men early adopters afford tivo in 2 years
print("married men, early adopters, sufficient electronics spend:")
len(df.loc[(df["Gender"] == "male") & (df["Marital Status"] == "married") & (df["Technology Adoption"] == "early") & (df["Monthly Electronics Spend"]*24 > 499)])

married men, early adopters, sufficient electronics spend:

134

In [10]:
print("educated women, independent decision makers")
len(df.loc[(df["Gender"] == "female") & (df["Education"].isin(["MA","PhD"])) & ( (df["Marital Status"] == "single") | (df["Purchasing Decision-maker"] == "single"))])

educated women, independent decision makers

56

In [11]:
print("early adopters, purchase once a year at specialized stores")
len(df.loc[(df["Technology Adoption"] == "early") & (df["Purchasing Frequency (every x months)"] <= 12) & (df["Purchasing Location"] == "specialty stores")])

early adopters, purchase once a year at specialized stores

132

In [12]:
oldGoodies = df.loc[(df["Age"] > 65) & (df["TV Viewing (hours/day)"] > 6)]

print("seniors > 65 and spend > 6 hours a day on tv")
print("count: ", len(oldGoodies['Annual Income (x1000 $)']))
print("range: ", oldGoodies['Annual Income (x1000 $)'].min(), oldGoodies['Annual Income (x1000 $)'].max())
print("average: ", oldGoodies['Annual Income (x1000 $)'].mean())

seniors > 65 and spend > 6 hours a day on tv
count:  20
range:  41.0 55.0
average:  48.6

In [17]:
print("variation in annual income attributable to variation in age:")
df["Age"].corr(df["Annual Income (x1000 $)"])**2

variation in annual income attributable to variation in age:

0.019865189757789708

In [19]:
print("variation in annual income attributable to variation in gender:")
dfE["Gender"].corr(dfE["Annual Income (x1000 $)"])**2

variation in annual income attributable to variation in gender:

3.4965424272769966e-07

In [30]:
print("variation in purchasing frequency attributable to variation in age:")
dfE["Age"].corr(dfE["Purchasing Frequency (every x months)"])**2

variation in purchasing frequency attributable to variation in age:

1.6708598227799216e-06

In [27]:
print("variation in tv viewing attributable to variation in annual income:")
dfE["Annual Income (x1000 $)"].corr(dfE["TV Viewing (hours/day)"])**2

variation in tv viewing attributable to variation in annual income:

0.0071124339130305

In [7]:
print("variation in favorite feature attributable to variation in education :")
dfE["Education"].corr(dfE["Favorite feature"])**2

variation in favorite feature attributable to variation in education :

0.007487190642767563

In [8]:
print("variation in favorite feature attributable to variation in education :")
dfE["Favorite feature"].corr(dfE["Education"])**2

variation in favorite feature attributable to variation in education :

0.007487190642767563

Monthly Household Spend can be described by Monthly Electronics Spend. Since Monthly Electronics Spend is the more relevant of the two, Monthly Household Spend shhould be excluded

In [33]:
from pandas import *
import numpy as np
from libraries.settings import *
from scipy.stats.stats import pearsonr
import itertools

itertools.combination(iterable, r)

AttributeError: module 'itertools' has no attribute 'combination'

In [10]:
dfE.to_csv('codedTivo.csv')