# TiVo

### Focus
TiVo value propositon and how to measure it

### Qs
- does the study evaluate consumer attitudes well?
- what are strengths/ weaknesses of the present approach?
- would you do anything diff in the market research project? what would you have done and what would you expect to find?
- why segment in the first place? best way?
- how do diff kinds of research relate?

In [18]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import json
from pandas.io.json import json_normalize
from datetime import datetime
from sklearn import preprocessing

In [19]:
df = pd.read_csv("TiVoData.csv")

In [20]:
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature
0,1.0,male,married,professional,none,49.0,30.0,Florida,family,mass-consumer electronics,35.0,150.0,13.0,late,2.0,saving favorite shows to watch as a family
1,2.0,male,single,none,none,46.0,36.0,Alabama,single,mass-consumer electronics,35.0,163.0,26.0,late,10.0,saving favorite shows to watch as a family
2,3.0,male,married,professional,BA,58.0,66.0,Massachusetts,family,specialty stores,64.0,103.0,13.0,early,0.0,time shifting
3,4.0,male,married,none,PhD,51.0,78.0,New York,family,mass-consumer electronics,33.0,154.0,22.0,late,5.0,saving favorite shows to watch as a family
4,5.0,female,single,none,none,46.0,52.0,Montana,single,mass-consumer electronics,45.0,161.0,47.0,late,2.0,saving favorite shows to watch as a family

In [21]:
df['Annual Spending on Electronics'] = df['Monthly Electronics Spend'] * 12
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual Spending on Electronics
0,1.0,male,married,professional,none,49.0,30.0,Florida,family,mass-consumer electronics,35.0,150.0,13.0,late,2.0,saving favorite shows to watch as a family,420.0
1,2.0,male,single,none,none,46.0,36.0,Alabama,single,mass-consumer electronics,35.0,163.0,26.0,late,10.0,saving favorite shows to watch as a family,420.0
2,3.0,male,married,professional,BA,58.0,66.0,Massachusetts,family,specialty stores,64.0,103.0,13.0,early,0.0,time shifting,768.0
3,4.0,male,married,none,PhD,51.0,78.0,New York,family,mass-consumer electronics,33.0,154.0,22.0,late,5.0,saving favorite shows to watch as a family,396.0
4,5.0,female,single,none,none,46.0,52.0,Montana,single,mass-consumer electronics,45.0,161.0,47.0,late,2.0,saving favorite shows to watch as a family,540.0

In [28]:
df['Spending as % of Income'] = round(df['Annual Spending on Electronics'] / (df['Annual Income (x1000 $)']*1000),4)
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual Spending on Electronics,Spending as % of Income
0,1.0,male,married,professional,none,49.0,30.0,Florida,family,mass-consumer electronics,35.0,150.0,13.0,late,2.0,saving favorite shows to watch as a family,420.0,0.0086
1,2.0,male,single,none,none,46.0,36.0,Alabama,single,mass-consumer electronics,35.0,163.0,26.0,late,10.0,saving favorite shows to watch as a family,420.0,0.0091
2,3.0,male,married,professional,BA,58.0,66.0,Massachusetts,family,specialty stores,64.0,103.0,13.0,early,0.0,time shifting,768.0,0.0132
3,4.0,male,married,none,PhD,51.0,78.0,New York,family,mass-consumer electronics,33.0,154.0,22.0,late,5.0,saving favorite shows to watch as a family,396.0,0.0078
4,5.0,female,single,none,none,46.0,52.0,Montana,single,mass-consumer electronics,45.0,161.0,47.0,late,2.0,saving favorite shows to watch as a family,540.0,0.0117

In [36]:
print(df['Gender'].value_counts()/df['Gender'].count())

male      0.535
female    0.465
Name: Gender, dtype: float64

In [37]:
print(df['Marital Status'].value_counts()/df['Marital Status'].count())

married    0.72
single     0.28
Name: Marital Status, dtype: float64

In [38]:
print(df['Work Status'].value_counts()/df['Work Status'].count())

professional    0.65
none            0.35
Name: Work Status, dtype: float64

In [39]:
print(df['Education'].value_counts()/df['Education'].count())

none    0.506
BA      0.260
MA      0.124
PhD     0.110
Name: Education, dtype: float64

In [50]:
ranges = [0,40,60,80,800]
print(df['Annual Income (x1000 $)'].groupby(pd.cut(df['Annual Income (x1000 $)'],ranges)).count())

Annual Income (x1000 $)
(0, 40]      632
(40, 60]     358
(60, 80]       9
(80, 800]      3
Name: Annual Income (x1000 $), dtype: int64

In [51]:
ranges = [0,20,40,60,80]
print(df['Annual Income (x1000 $)'].groupby(pd.cut(df['Annual Income (x1000 $)'],ranges)).count())

Annual Income (x1000 $)
(0, 20]       0
(20, 40]    632
(40, 60]    358
(60, 80]      9
Name: Annual Income (x1000 $), dtype: int64

In [52]:
print(df['Location'].value_counts()/df['Location'].count())

Pennsylvania      0.050
Hawaii            0.045
Delaware          0.045
Arizona           0.043
Washington        0.043
Vermont           0.043
Idaho             0.043
Maine             0.041
California        0.041
Maryland          0.039
Colorado          0.039
New York          0.039
Massachusetts     0.038
Connecticut       0.037
Nevada            0.037
New Jersey        0.035
New Hampshire     0.035
Florida           0.035
Illinois          0.034
Tennessee         0.032
Rhode Island      0.027
Georgia           0.027
Oregon            0.010
North Dakota      0.010
Utah              0.009
Missouri          0.008
West Virginia     0.008
North Carolina    0.008
Texas             0.007
Montana           0.007
Indiana           0.006
Alabama           0.006
South Carolina    0.006
Kentucky          0.006
Michigan          0.006
Kansas            0.006
Alaska            0.005
New Mexico        0.005
Louisiana         0.005
South Dakota      0.004
Arkansas          0.004
Virginia          0.004
Wisconsin         0.004
Wyoming           0.004
Iowa              0.003
Oklahoma          0.003
Ohio              0.003
Mississippi       0.002
Minnesota         0.002
Nebraska          0.001
Name: Location, dtype: float64

In [53]:
print(df['Purchasing Decision-maker'].value_counts()/df['Purchasing Decision-maker'].count())

family    0.56
single    0.44
Name: Purchasing Decision-maker, dtype: float64

In [54]:
print(df['Purchasing Location'].value_counts()/df['Purchasing Location'].count())

retail                       0.294
discount                     0.293
mass-consumer electronics    0.200
specialty stores             0.170
web (ebay)                   0.043
Name: Purchasing Location, dtype: float64

In [55]:
ranges = [0,40,60,80,100]
print(df['Monthly Electronics Spend'].groupby(pd.cut(df['Monthly Electronics Spend'],ranges)).count())

Monthly Electronics Spend
(0, 40]      733
(40, 60]     196
(60, 80]      62
(80, 100]      9
Name: Monthly Electronics Spend, dtype: int64

In [56]:
ranges = [0,50,100,150,200,250,300,350,400]
print(df['Monthly Household Spend'].groupby(pd.cut(df['Monthly Household Spend'],ranges)).count())

Monthly Household Spend
(0, 50]       281
(50, 100]     389
(100, 150]    156
(150, 200]     96
(200, 250]     42
(250, 300]     16
(300, 350]     11
(350, 400]      9
Name: Monthly Household Spend, dtype: int64

In [59]:
ranges = [0,10,20,30,40,50]
print(df['Purchasing Frequency (every x months)'].groupby(pd.cut(df['Purchasing Frequency (every x months)'],ranges)).count())

Purchasing Frequency (every x months)
(0, 10]     241
(10, 20]    231
(20, 30]    187
(30, 40]    192
(40, 50]    149
Name: Purchasing Frequency (every x months), dtype: int64

In [60]:
print(df['Technology Adoption'].value_counts()/df['Technology Adoption'].count())

early    0.8
late     0.2
Name: Technology Adoption, dtype: float64

In [61]:
ranges = [0,5,10,15]
print(df['TV Viewing (hours/day)'].groupby(pd.cut(df['TV Viewing (hours/day)'],ranges)).count())

TV Viewing (hours/day)
(0, 5]      715
(5, 10]      65
(10, 15]     45
Name: TV Viewing (hours/day), dtype: int64

In [62]:
print(df['Favorite feature'].value_counts()/df['Favorite feature'].count())

cool gadget                                   0.228
time shifting                                 0.221
schedule control                              0.221
saving favorite shows to watch as a family    0.200
programming/interactive features              0.130
Name: Favorite feature, dtype: float64

In [63]:
ranges = [0,250,500,1000]
print(df['Annual Spending on Electronics'].groupby(pd.cut(df['Annual Spending on Electronics'],ranges)).count())

Annual Spending on Electronics
(0, 250]       444
(250, 500]     300
(500, 1000]    251
Name: Annual Spending on Electronics, dtype: int64

In [75]:
ranges = [0,.005,.010,.015,0.02]
print(df['Spending as % of Income'].groupby(pd.cut(df['Spending as % of Income'],ranges)).count())

Spending as % of Income
(0.0, 0.005]      57
(0.005, 0.01]    558
(0.01, 0.015]    317
(0.015, 0.02]     68
Name: Spending as % of Income, dtype: int64