# TiVo Case Study Qs

In [2]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import json
from pandas.io.json import json_normalize
from datetime import datetime
from sklearn import preprocessing

In [3]:
df = pd.read_csv("TiVoData.csv")

## Q2

In [4]:
df['Annual Spending on Electronics'] = df['Monthly Electronics Spend'] * 12
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual Spending on Electronics
0,1.0,male,married,professional,none,49.0,30.0,Florida,family,mass-consumer electronics,35.0,150.0,13.0,late,2.0,saving favorite shows to watch as a family,420.0
1,2.0,male,single,none,none,46.0,36.0,Alabama,single,mass-consumer electronics,35.0,163.0,26.0,late,10.0,saving favorite shows to watch as a family,420.0
2,3.0,male,married,professional,BA,58.0,66.0,Massachusetts,family,specialty stores,64.0,103.0,13.0,early,0.0,time shifting,768.0
3,4.0,male,married,none,PhD,51.0,78.0,New York,family,mass-consumer electronics,33.0,154.0,22.0,late,5.0,saving favorite shows to watch as a family,396.0
4,5.0,female,single,none,none,46.0,52.0,Montana,single,mass-consumer electronics,45.0,161.0,47.0,late,2.0,saving favorite shows to watch as a family,540.0

In [5]:
df['Spending as % of Income'] = round(df['Annual Spending on Electronics'] / (df['Annual Income (x1000 $)']*1000),4)
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual Spending on Electronics,Spending as % of Income
0,1.0,male,married,professional,none,49.0,30.0,Florida,family,mass-consumer electronics,35.0,150.0,13.0,late,2.0,saving favorite shows to watch as a family,420.0,0.0086
1,2.0,male,single,none,none,46.0,36.0,Alabama,single,mass-consumer electronics,35.0,163.0,26.0,late,10.0,saving favorite shows to watch as a family,420.0,0.0091
2,3.0,male,married,professional,BA,58.0,66.0,Massachusetts,family,specialty stores,64.0,103.0,13.0,early,0.0,time shifting,768.0,0.0132
3,4.0,male,married,none,PhD,51.0,78.0,New York,family,mass-consumer electronics,33.0,154.0,22.0,late,5.0,saving favorite shows to watch as a family,396.0,0.0078
4,5.0,female,single,none,none,46.0,52.0,Montana,single,mass-consumer electronics,45.0,161.0,47.0,late,2.0,saving favorite shows to watch as a family,540.0,0.0117

## Q3

In [6]:
print(df['Gender'].value_counts()/df['Gender'].count())

male      0.535
female    0.465
Name: Gender, dtype: float64

In [7]:
print(df['Marital Status'].value_counts()/df['Marital Status'].count())

married    0.72
single     0.28
Name: Marital Status, dtype: float64

In [8]:
print(df['Work Status'].value_counts()/df['Work Status'].count())

professional    0.65
none            0.35
Name: Work Status, dtype: float64

In [9]:
print(df['Education'].value_counts()/df['Education'].count())

none    0.506
BA      0.260
MA      0.124
PhD     0.110
Name: Education, dtype: float64

In [10]:
ranges = [0,40,60,80,800]
print(df['Annual Income (x1000 $)'].groupby(pd.cut(df['Annual Income (x1000 $)'],ranges)).count())

Annual Income (x1000 $)
(0, 40]      632
(40, 60]     358
(60, 80]       9
(80, 800]      3
Name: Annual Income (x1000 $), dtype: int64

In [11]:
ranges = [0,20,40,60,80]
print(df['Annual Income (x1000 $)'].groupby(pd.cut(df['Annual Income (x1000 $)'],ranges)).count()/len(df))

Annual Income (x1000 $)
(0, 20]     0.000000
(20, 40]    0.630110
(40, 60]    0.356929
(60, 80]    0.008973
Name: Annual Income (x1000 $), dtype: float64

In [12]:
print(df['Location'].value_counts()/df['Location'].count())

Pennsylvania      0.050
Hawaii            0.045
Delaware          0.045
Vermont           0.043
Idaho             0.043
Arizona           0.043
Washington        0.043
California        0.041
Maine             0.041
New York          0.039
Colorado          0.039
Maryland          0.039
Massachusetts     0.038
Connecticut       0.037
Nevada            0.037
Florida           0.035
New Hampshire     0.035
New Jersey        0.035
Illinois          0.034
Tennessee         0.032
Rhode Island      0.027
Georgia           0.027
Oregon            0.010
North Dakota      0.010
Utah              0.009
West Virginia     0.008
North Carolina    0.008
Missouri          0.008
Montana           0.007
Texas             0.007
Michigan          0.006
Alabama           0.006
Indiana           0.006
Kansas            0.006
South Carolina    0.006
Kentucky          0.006
New Mexico        0.005
Louisiana         0.005
Alaska            0.005
Wisconsin         0.004
Virginia          0.004
Wyoming           0.004
South Dakota      0.004
Arkansas          0.004
Oklahoma          0.003
Ohio              0.003
Iowa              0.003
Mississippi       0.002
Minnesota         0.002
Nebraska          0.001
Name: Location, dtype: float64

In [13]:
print(df['Purchasing Decision-maker'].value_counts()/df['Purchasing Decision-maker'].count())

family    0.56
single    0.44
Name: Purchasing Decision-maker, dtype: float64

In [14]:
print(df['Purchasing Location'].value_counts()/df['Purchasing Location'].count())

retail                       0.294
discount                     0.293
mass-consumer electronics    0.200
specialty stores             0.170
web (ebay)                   0.043
Name: Purchasing Location, dtype: float64

In [17]:
ranges = [0,40,60,80,100]
print(df['Monthly Electronics Spend'].groupby(pd.cut(df['Monthly Electronics Spend'],ranges)).count()/len(df))

Monthly Electronics Spend
(0, 40]      0.730808
(40, 60]     0.195414
(60, 80]     0.061815
(80, 100]    0.008973
Name: Monthly Electronics Spend, dtype: float64

In [19]:
ranges = [0,50,100,150,200,250,300,350,400]
print(df['Monthly Household Spend'].groupby(pd.cut(df['Monthly Household Spend'],ranges)).count()/len(df))

Monthly Household Spend
(0, 50]       0.280160
(50, 100]     0.387836
(100, 150]    0.155533
(150, 200]    0.095713
(200, 250]    0.041874
(250, 300]    0.015952
(300, 350]    0.010967
(350, 400]    0.008973
Name: Monthly Household Spend, dtype: float64

In [20]:
ranges = [0,10,20,30,40,50]
print(df['Purchasing Frequency (every x months)'].groupby(pd.cut(df['Purchasing Frequency (every x months)'],ranges)).count()/len(df))

Purchasing Frequency (every x months)
(0, 10]     0.240279
(10, 20]    0.230309
(20, 30]    0.186441
(30, 40]    0.191426
(40, 50]    0.148554
Name: Purchasing Frequency (every x months), dtype: float64

In [20]:
print(df['Technology Adoption'].value_counts()/df['Technology Adoption'].count())

early    0.8
late     0.2
Name: Technology Adoption, dtype: float64

In [21]:
ranges = [0,5,10,15]
print(df['TV Viewing (hours/day)'].groupby(pd.cut(df['TV Viewing (hours/day)'],ranges)).count()/len(df))

TV Viewing (hours/day)
(0, 5]      0.712861
(5, 10]     0.064806
(10, 15]    0.044865
Name: TV Viewing (hours/day), dtype: float64

In [22]:
print(df['Favorite feature'].value_counts()/df['Favorite feature'].count())

cool gadget                                   0.228
schedule control                              0.221
time shifting                                 0.221
saving favorite shows to watch as a family    0.200
programming/interactive features              0.130
Name: Favorite feature, dtype: float64

In [23]:
ranges = [0,250,500,1000]
print(df['Annual Spending on Electronics'].groupby(pd.cut(df['Annual Spending on Electronics'],ranges)).count()/len(df))

Annual Spending on Electronics
(0, 250]       0.442672
(250, 500]     0.299103
(500, 1000]    0.250249
Name: Annual Spending on Electronics, dtype: float64

In [24]:
ranges = [0,.005,.010,.015,0.02]
print(df['Spending as % of Income'].groupby(pd.cut(df['Spending as % of Income'],ranges)).count()/len(df))

Spending as % of Income
(0.0, 0.005]     0.056830
(0.005, 0.01]    0.556331
(0.01, 0.015]    0.316052
(0.015, 0.02]    0.067797
Name: Spending as % of Income, dtype: float64

## Q4

a. How many married men who are early adopters can afford to purchase a TiVo for $499 and on average have enough money to purchase another electronic gadget in the next two years ?

In [25]:
len(df.loc[(df["Gender"] == "male") & (df["Marital Status"] == "married") & (df["Technology Adoption"] == "early") & (df["Monthly Electronics Spend"]*24 > 500)])

134

In [ ]:
b. How many women with education of MA or PhD are making purchasing decisions for electronics without discussing them with a spouse, either because they are single, or because they are making purchasing decisions without the involvement of their spouses?

In [27]:
len(df.loc[(df["Gender"] == "female") & (df["Education"].isin(["MA","PhD"])) & ( (df["Marital Status"] == "single") | (df["Purchasing Decision-maker"] == "single"))])

56

c.  Among early adopters, how many purchase electronics at least once every year and do so in stores that specialize in electronics?

In [28]:
len(df.loc[(df["Technology Adoption"] == "early") & (df["Purchasing Frequency (every x months)"] <= 12) & (df["Purchasing Location"] == "specialty stores")])

132

d. How many seniors (above the age of 65) spend more than six hours a day watching TV? What is their income range? What is their average annual income?

In [30]:
oldButGoodies = df.loc[(df["Age"] > 65) & (df["TV Viewing (hours/day)"] > 6)]

In [31]:
print("Annual Income for old people that watch a lot of TV")
print("number:", len(oldButGoodies))
print("range: ",oldButGoodies['Annual Income (x1000 $)'].min()," to ",oldButGoodies['Annual Income (x1000 $)'].max())
print("Average: ",oldButGoodies['Annual Income (x1000 $)'].mean())

Annual Income for old people that watch a lot of TV
number: 20
range:  41.0  to  55.0
Average:  48.6

## Q5

5. Correlate Annual income with Age. What is the correlation  (or r squared)?

In [35]:
df["Annual Income (x1000 $)"].corr(df["Age"], method="pearson")**2

0.019865189757789708

# Q6

In [32]:
df = pd.read_csv("TiVoData.csv")
dfGenderCoded = df
dfGenderCoded.head()
dfGenderCoded["Gender"] = dfGenderCoded['Gender'].map({'female': 1, 'male': 0})

a. Code Gender as a number. What is the correlation between it and Annual income?

In [38]:
dfGenderCoded["Annual Income (x1000 $)"].corr(dfGenderCoded["Gender"])**2

0.004552554812884768

b. Explain why it makes no difference which numbers are used to code Gender or other non-numeric attributes.							

*We're looking at correlation which is a measure of variation in x explained by variation in y. Changing the number used would change the range of the factor we are looking at but it would not change the variation.*

# Q7

In [33]:
print(df["Purchasing Frequency (every x months)"].corr(df["Age"])**2, "of variation in # of months per purchase is explained by variation in age")

1.6708598227799212e-06 of variation in # of months per purchase is explained by variation in age

In [34]:
print(df["Annual Income (x1000 $)"].corr(df["TV Viewing (hours/day)"])**2, "of variation in annual income is explained by variation in tv viewing")

0.0071124339130305 of variation in annual income is explained by variation in tv viewing

In [35]:
df = pd.read_csv("TiVoData.csv")
dfEdCoded = df
dfEdCoded.head()
dfEdCoded["Education"] = dfEdCoded["Education"].map({'none': 0, 'BA': 1, 'MA':2,'PhD':3})
dfEdCoded["Favorite feature"] = dfEdCoded["Favorite feature"].map({'cool gadget': 0, 'time shifting': 1, 'schedule control':2,'saving favorite shows to watch as a family':3, 'programming/interactive features':4})

In [36]:
print(dfEdCoded["Education"].corr(dfEdCoded["Favorite feature"])**2, "of variation in education is explained by variation in favorite feature")

0.13953354134201412 of variation in education is explained by variation in favorite feature

In [37]:
print(dfEdCoded["Monthly Electronics Spend"].corr(dfEdCoded["Monthly Household Spend"])**2, "of variation in spend  is explained by variation in house spend")

0.6461037171854618 of variation in spend  is explained by variation in house spend

*Only the correlation between Monthly Electronics Spend and Monthly Household Spend is significant enough to ignore (> .45) *