In [8]:
import pystan

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data = pd.read_csv("socialmobility.csv")

In [9]:
data

          father           son  count
0           farm          farm    703
1           farm     unskilled   1478
2           farm       skilled   1430
3           farm  professional   1109
4      unskilled          farm     58
5      unskilled     unskilled   1756
6      unskilled       skilled   1630
7      unskilled  professional   1568
8        skilled          farm     63
9        skilled     unskilled   1453
10       skilled       skilled   2068
11       skilled  professional   2483
12  professional          farm     61
13  professional     unskilled    749
14  professional       skilled   1183
15  professional  professional   3315

In [ ]:
data = {
    'alpha': 0.001,  # fixed prior hyperparameters for the
    'beta': 0.001,   # gamma distribution
    'count': len(data),  # count of datapoints
    'calls': hour_13
}

stan = """
data {
    real<lower=0> alpha;  // fixed prior hyperparameter
    real<lower=0> beta;   // fixed prior hyperparameter
    int<lower=0> count;   // number of datapoints
    real<lower=0> calls[count];  // datapoints   
}

parameters {
    real<lower=0> lambda;  // rate for exponential distribution
}

model {
    theta ~ dirichlet(alpha);    // prior over theta
    for(i in 1:count) {
        y[i] ~ multinomial(theta);  // likelihood function
    }
    
}

"""

In [ ]:
model = pystan.StanModel(model_code=stan)